<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
  <div class="container">
    <a class="navbar-brand fs-4"
      ><img
        src="../img/permira-logo-small.PNG"
        alt="logo-permira"
        style="width: 3rem"
    /></a>
    <a class="navbar-brand fs-4" href="/"
      ><img
        src="../img/permikaz-logo.PNG"
        alt="logo-permikaz"
        style="width: 3rem"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="mx-auto"></div>
      <ul class="navbar-nav fs-5">
        <li class="nav-item">
          <a class="nav-link text-white" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white"
            href="https://permikaz.blogspot.com/"
            target="_blank"
            rel="noopener noreferrer"
            >Blog</a
          >
        </li>
        <li class="nav-item pt-1">
          <a
            class="nav-link text-white fa-brands fa-instagram"
            href="https://www.instagram.com/permirakaz/"
          ></a>
        </li>
        <li class="nav-item pt-1">
          <a
            class="nav-link text-white fa-brands fa-youtube"
            href="https://www.youtube.com/channel/UCDyoUenMEiHTgFogTPguUSQ"
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
