<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="style.css" />
  <style>
    body {
      background-image: url("/img/bg2.jpg");
      background-attachment: fixed;
      padding-top: 1rem;
      background-position: 70%;
    }
    .about-img {
      background-image: url("/img/kazan6.jpg");
      background-size: cover;
      background-position: 0px;
      margin-top: 2rem;
    }
  </style>
  <body>
    <%- include('./partials/nav.ejs') %>
      <div class="container py-4 about-picture">
        <div class="about jumbotron">
          <div class="about-img p-5 rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold text-light">Kazan</h1>
              <p class="col-md-8 fs-4 text-light">Kazan, capital city, Tatarstan republic, western Russia. It lies just north of the Samara Reservoir on the Volga River, where it is joined by the Kazanka River. The city stretches for about 15 miles (25 km) along hills, which are much dissected by ravines.</p>
            </div>
          </div>
        </div>
      <hr class="featurette-divider"/>

        <!-- about -->
        <div class="d-flex justify-content-center">
          <figure class="text-center w-50 about-text">
            <h1 class="d-block text-light fw-bold">About Us</h1>
            <blockquote class="blockquote">
              <p class="text-light">Kota Kazan merupakan Ibu Kota Tatarstan sekaligus salah satu kota terbesar di Rusia. Jarak tempuhnya dari kota Moscow hanya satu setengah jam dengan menggunakan pesawat dan dua belas jam melalui jalur darat. Meski tergolong kota terbe- sar, jumlah penduduknya hanya 1,257 juta (data per 1 Januari 2020) dengan total luas daerah 425,3 km  . Ibaratnya Kazan itu seperti tiga kali lipat luas Tangerang Selatan dengan jumlah penduduk yang hampir sama. Oleh sebab itu, Kazan merupakan salah satu kota dengan kepadatan penduduk yang sangat ideal. Selain itu, Kazan dikenal sebagai kota dengan penganut Islam terbesar di Rusia sehingga mencari makanan halal dan tempat ibadah tidak sesulit ketika berada di kota-kota lain. Dua etnis terbesar yang mendiami kota ini adalah Tatar dan Rusia. Sedangkan etnis Bashkir, Uzbek, Kazakh, Tajik, dan Turki biasanya merupakan kaum pendatang.
                Mahasiswa Indonesia yang sedang menempuh pendidikan di Kota Kazan dan sekitarnya kurang lebih berjumlah seratus orang. Sepertiganya terdaftar di Universitas Federal Kazan dan sisanya di kampus-kampus lain. Sebagian besar mahasiswa juga merupakan awardee beasiswa pemerin- tah Federasi Rusia.
              </p>
            </blockquote>
          </figure>
        </div>
      <hr class="featurette-divider"/>
  
      <div class="row featurette pt-10 pb-10 d-flex">
        <div class=" col-md-7 order-md-3 w-50 ms-auto text-end">
          <h2 class="featurette-heading fw-normal lh-1 text-light fw-bold">
            URAM Extreme Park 
            <span class="text-light fw-normal">Legato Sports Architecture</span>
          </h2>
          <p class="lead text-light fs-6">
            URAM Extreme Park is the largest extreme park in Russia, built in 2020 by Legato Sports Architecture. The architects faced a difficult task — to build a park that: 1) combines all the sports facilities necessary to prepare extreme athletes for high-level competitions, such as Olympic Games, 2) has simple extreme zones where amateur athletes will be able to develop their riding skills, 3) fits into the context of the historical city center of Kazan, 4) will become an open and free public space for urban recreation.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img
              src="/img/kazan7.jpeg"
              class="img-responsive shadow img-about2"
              alt="register"
              width="650"
              height="ms-auto"
              x="50%"
              y="50%"
            />
        </div>
      </div>
    </div>
    <!-- /.row -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
  </body>
</html>
